@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

button {
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    color: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    /* black with 30% opacity */
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.363);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}