
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 228, 253);
}

.calculator {
  background: rgb(26, 26, 26);
  width: 500px;
  height: 650px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* Claculator display */
.calculator-display {
  background: rgb(51, 51, 51);
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  border-radius: 10px 10px 25px 25px;
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: "Lucida Console", sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(179, 179, 179);
}

/* Buttons */
.calculator-buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  height: 80%;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  background: rgb(51, 51, 51);
  color: rgb(167, 215, 255);
  border-radius: 5px;
  cursor: pointer;
  border-radius: 15px;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}

.operator {
  background: grey;
  color: white;
  font-size: 30px;
}

.clear {
  background: rgb(0, 85, 7);
  color: white;
}

.clear:hover {
  filter: brightness(90%);
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background: rgb(6, 122, 255);
}

@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
    height: 600px;
  }
}
